<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="container destination">
          <div class="row">
            <div class="col-12">
                <h2>Vous êtes désormais déconnecté avec Succès.</h2>
                <h5>Merci pour votre visite ! Nous espérons vous revoir de nouveau bientôt sur Car Hibou !<br/>
                  <small>
                    Vous serez redirigé vers la page d'accueil d'ici quelques secondes...
                  </small>
                </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>