<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form>
          <label for="login">Identifiant : <input id="login" name="login" type="text" placeholder="Identifiant..." [(ngModel)]="login"/></label>
          <label for="login">Mot de passe : <input id="password" name="password" type="password" placeholder="Mot de passe..." [(ngModel)]="password"/></label>
          <label for="login">Mot de passe : <input id="password2" name="password2" type="password" placeholder="Saisir à nouveau votre Mot de passe..." [(ngModel)]="password2"/></label>
          <label for="login">Mail : <input id="mail" name="mail" type="text" placeholder="Adresse mail..." [(ngModel)]="mail"/></label>
          <button (click)="onClick();" type="submit">S'enregistrer</button>
        </form>
      </div>
    </div>
  </div>