<div class="container">
<div class="card-body">
  <div class="row">
    <div class="col-3">
      <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="Michel" class="img-fluid rounded-circle">
    </div>
    <div class="col-9 pl-0">
      <h5 class="card-title mt-1 mb-1">Michel</h5>
      <h6 class="card-subtitle mb-2 text-muted">25 ans</h6>
    </div>
  </div>
  <p class="card-text mt-2">Responsable commercial chez Bible Black Corporation.</p>
 
  <table class="table">
    <tbody>
<!--      <tr>
        <th scope="row"></th>
        <td>Depart de Toulouse à 18h</td>
        <td>Arrivé à geneve à 4h</td>
      </tr>--> 
      <tr> 
        <th scope="row">Vehicule : Fiat Multiplat</th>
      </tr>
      <tr>
        <th scope="row">non fumeur : oui</th>
      </tr>
      <tr>
        <th scope="row">place restante : 5</th>
      </tr>
    </tbody>
  </table>
  
  <div class="text-center">
    <a routerLink="/trip" class="btn btn-primary">Proposer votre compagnie</a>
  </div>
</div>

<div class="align right">
     <h3>Commentaire  </h3>
     <div class="col-2">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="Michel" class="img-fluid rounded-circle">
          </div>
          <div class="col-9 pl-0">
            <h5 class="card-title mt-1 mb-1">Michel</h5>
            <h6 class="card-subtitle mb-2 text-muted">25 ans</h6>
          </div>
        </div>
        <p class="card-text mt-2">"Super Voyage en compagnie de michel !"</p>
     </div>
     <div class="col-2">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="Michel" class="img-fluid rounded-circle">
          </div>
          <div class="col-9 pl-0">
            <h5 class="card-title mt-1 mb-1">Michel</h5>
            <h6 class="card-subtitle mb-2 text-muted">25 ans</h6>
          </div>
        </div>
        <p class="card-text mt-2">"je n'aurais jamais penser a monter dans une fiat multiplat"</p>
     </div>
</div>
</div>