<div [ngClass]="{'home-header': isHome}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 px-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" routerLink="/">
              <span>Car Hibou</span>
            </a>
            
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto"></ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link btn btn-search py-1 mr-5" routerLink="itinerary">Proposer un trajet</a>
                </li>
                <li *ngIf="!userIsConnected()" class="nav-item">
                  <a class="nav-link" routerLink="/register">Inscription</a>
                </li>
                <li *ngIf="!userIsConnected()" class="nav-item">
                  <a class="nav-link" routerLink="/login">Connexion</a>
                </li>
                <li *ngIf="userIsConnected()" class="nav-item">
                    <a class="nav-link" routerLink="/logout">Deconnexion</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>