<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container destination">
        <div class="row">
          <div class="col-6">
            <h2>Simple, rapide, écologique et convivial, choisissez le covoiturage entre collègues.</h2>
            <h5>Trouvez un collègue, partagez votre voiture, nouez des liens.</h5>
          </div>
          <div class="col-6">
            <img src="/assets/city_without_clouds.png" class="img-fluid" alt="City">
            <img src="/assets/cloud1.png" class="cloud" id="cloud1" alt="first cloud">
            <img src="/assets/cloud1.png" class="cloud" id="cloud2" alt="first cloud">
            <img src="/assets/cloud1.png" class="cloud" id="cloud3" alt="first cloud">
            <img src="/assets/cloud2.png" class="cloud" id="cloud4" alt="first cloud">
            <img src="/assets/cloud2.png" class="cloud" id="cloud5" alt="first cloud">
          </div>
        </div>
        <div class="row destination-form">
          <div class="col-4">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Partir de.." [(ngModel)]="placeSearch" [typeahead]="placeSearchSource" [typeaheadOptionsLimit]="4" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="properties.formattedName" [typeaheadWaitMs]="500">
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                  </div>
                </div>
                <select class="custom-select form-control form-control-lg" style="height: 46px;">
                  <option value="100" selected>100m</option>
                  <option value="250">250m</option>
                  <option value="500">500m</option>
                  <option value="1000">1km</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Date" bsDatepicker [(ngModel)]="dateSearch" placement="top" [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY'}">
              </div>
            </div>
          </div>
          <div class="col-4 px-0">
            <button class="btn btn-lg btn-outline-light">Rechercher</button>
            <span class="destination-separator mx-3 p-2">ou</span>
            <a routerLink="map" class="btn btn-lg btn-outline-light">Voir la carte</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>